In [1]:
import sys
sys.path.append('../')
from rocky.core import rocky
from rocky.triangle import Triangle
from rocky.model_selection.TriangleTimeSeriesSplit import TriangleTimeSeriesSplit
import pandas as pd
import numpy as np

In [2]:
# Create a Rocky object
rky = rocky()

# add triangle
rocky_inputs_file = r"O:\PARM\Individual folders\A Weaver\Reserving\rocky\wc-icrfs.xlsx"
rky.FromExcel(filename=rocky_inputs_file, sheet_name='triangle', id='paid_loss')
# rky.SampleTri('taylor_ashe')

# add model
rky.AddModel('icrfs', model_class='loglinear', tri=rky.paid_loss, use_cal=True, plot_width=None)

column:
0

cal[c]:
accident_period
1967-01-01     0
1968-01-01     1
1969-01-01     2
1970-01-01     3
1971-01-01     4
1972-01-01     5
1973-01-01     6
1974-01-01     7
1975-01-01     8
1976-01-01     9
1977-01-01    10
1978-01-01    11
1979-01-01    12
1980-01-01    13
1981-01-01    14
1982-01-01    15
1983-01-01    16
1984-01-01    17
1985-01-01    18
1986-01-01    19
1987-01-01    20
1988-01-01    21
1989-01-01    22
1990-01-01    23
1991-01-01    24
1992-01-01    25
1993-01-01    26
1994-01-01    27
1995-01-01    28
1996-01-01    29
1997-01-01    30
1998-01-01    31
1999-01-01    32
2000-01-01    33
2001-01-01    34
2002-01-01    35
2003-01-01    36
2004-01-01    37
2005-01-01    38
2006-01-01    39
2007-01-01    40
2008-01-01    41
2009-01-01    42
2010-01-01    43
2011-01-01    44
2012-01-01    45
2013-01-01    46
2014-01-01    47
2015-01-01    48
2016-01-01    49
2017-01-01    50
2018-01-01    51
2019-01-01    52
2020-01-01    53
2021-01-01    54
2022-01-01    55
2023-01-01    56
Name: 0, dtype: int32

int(c):
0
cal.columns.to_series().astype(int).min():
0

new cal[c]:
accident_period
1967-01-01     0
1968-01-01     1
1969-01-01     2
1970-01-01     3
1971-01-01     4
1972-01-01     5
1973-01-01     6
1974-01-01     7
1975-01-01     8
1976-01-01     9
1977-01-01    10
1978-01-01    11
1979-01-01    12
1980-01-01    13
1981-01-01    14
1982-01-01    15
1983-01-01    16
1984-01-01    17
1985-01-01    18
1986-01-01    19
1987-01-01    20
1988-01-01    21
1989-01-01    22
1990-01-01    23
1991-01-01    24
1992-01-01    25
1993-01-01    26
1994-01-01    27
1995-01-01    28
1996-01-01    29
1997-01-01    30
1998-01-01    31
1999-01-01    32
2000-01-01    33
2001-01-01    34
2002-01-01    35
2003-01-01    36
2004-01-01    37
2005-01-01    38
2006-01-01    39
2007-01-01    40
2008-01-01    41
2009-01-01    42
2010-01-01    43
2011-01-01    44
2012-01-01    45
2013-01-01    46
2014-01-01    47
2015-01-01    48
2016-01-01    49
2017-01-01    50
2018-01-01    51
2019-01-01    52
2020-01-01    53
2021-01-01    54
2022-01-01    55
2023-01-01    56
Name: 0, dtype: int32

column:
1

cal[c]:
accident_period
1967-01-01     0
1968-01-01     1
1969-01-01     2
1970-01-01     3
1971-01-01     4
1972-01-01     5
1973-01-01     6
1974-01-01     7
1975-01-01     8
1976-01-01     9
1977-01-01    10
1978-01-01    11
1979-01-01    12
1980-01-01    13
1981-01-01    14
1982-01-01    15
1983-01-01    16
1984-01-01    17
1985-01-01    18
1986-01-01    19
1987-01-01    20
1988-01-01    21
1989-01-01    22
1990-01-01    23
1991-01-01    24
1992-01-01    25
1993-01-01    26
1994-01-01    27
1995-01-01    28
1996-01-01    29
1997-01-01    30
1998-01-01    31
1999-01-01    32
2000-01-01    33
2001-01-01    34
2002-01-01    35
2003-01-01    36
2004-01-01    37
2005-01-01    38
2006-01-01    39
2007-01-01    40
2008-01-01    41
2009-01-01    42
2010-01-01    43
2011-01-01    44
2012-01-01    45
2013-01-01    46
2014-01-01    47
2015-01-01    48
2016-01-01    49
2017-01-01    50
2018-01-01    51
2019-01-01    52
2020-01-01    53
2021-01-01    54
2022-01-01    55
2023-01-01    56
Name: 1, dtype: int32

int(c):
1
cal.columns.to_series().astype(int).min():
0

new cal[c]:
accident_period
1967-01-01     1
1968-01-01     2
1969-01-01     3
1970-01-01     4
1971-01-01     5
1972-01-01     6
1973-01-01     7
1974-01-01     8
1975-01-01     9
1976-01-01    10
1977-01-01    11
1978-01-01    12
1979-01-01    13
1980-01-01    14
1981-01-01    15
1982-01-01    16
1983-01-01    17
1984-01-01    18
1985-01-01    19
1986-01-01    20
1987-01-01    21
1988-01-01    22
1989-01-01    23
1990-01-01    24
1991-01-01    25
1992-01-01    26
1993-01-01    27
1994-01-01    28
1995-01-01    29
1996-01-01    30
1997-01-01    31
1998-01-01    32
1999-01-01    33
2000-01-01    34
2001-01-01    35
2002-01-01    36
2003-01-01    37
2004-01-01    38
2005-01-01    39
2006-01-01    40
2007-01-01    41
2008-01-01    42
2009-01-01    43
2010-01-01    44
2011-01-01    45
2012-01-01    46
2013-01-01    47
2014-01-01    48
2015-01-01    49
2016-01-01    50
2017-01-01    51
2018-01-01    52
2019-01-01    53
2020-01-01    54
2021-01-01    55
2022-01-01    56
2023-01-01    57
Name: 1, dtype: int32

column:
2

cal[c]:
accident_period
1967-01-01     0
1968-01-01     1
1969-01-01     2
1970-01-01     3
1971-01-01     4
1972-01-01     5
1973-01-01     6
1974-01-01     7
1975-01-01     8
1976-01-01     9
1977-01-01    10
1978-01-01    11
1979-01-01    12
1980-01-01    13
1981-01-01    14
1982-01-01    15
1983-01-01    16
1984-01-01    17
1985-01-01    18
1986-01-01    19
1987-01-01    20
1988-01-01    21
1989-01-01    22
1990-01-01    23
1991-01-01    24
1992-01-01    25
1993-01-01    26
1994-01-01    27
1995-01-01    28
1996-01-01    29
1997-01-01    30
1998-01-01    31
1999-01-01    32
2000-01-01    33
2001-01-01    34
2002-01-01    35
2003-01-01    36
2004-01-01    37
2005-01-01    38
2006-01-01    39
2007-01-01    40
2008-01-01    41
2009-01-01    42
2010-01-01    43
2011-01-01    44
2012-01-01    45
2013-01-01    46
2014-01-01    47
2015-01-01    48
2016-01-01    49
2017-01-01    50
2018-01-01    51
2019-01-01    52
2020-01-01    53
2021-01-01    54
2022-01-01    55
2023-01-01    56
Name: 2, dtype: int32

int(c):
2
cal.columns.to_series().astype(int).min():
0

new cal[c]:
accident_period
1967-01-01     2
1968-01-01     3
1969-01-01     4
1970-01-01     5
1971-01-01     6
1972-01-01     7
1973-01-01     8
1974-01-01     9
1975-01-01    10
1976-01-01    11
1977-01-01    12
1978-01-01    13
1979-01-01    14
1980-01-01    15
1981-01-01    16
1982-01-01    17
1983-01-01    18
1984-01-01    19
1985-01-01    20
1986-01-01    21
1987-01-01    22
1988-01-01    23
1989-01-01    24
1990-01-01    25
1991-01-01    26
1992-01-01    27
1993-01-01    28
1994-01-01    29
1995-01-01    30
1996-01-01    31
1997-01-01    32
1998-01-01    33
1999-01-01    34
2000-01-01    35
2001-01-01    36
2002-01-01    37
2003-01-01    38
2004-01-01    39
2005-01-01    40
2006-01-01    41
2007-01-01    42
2008-01-01    43
2009-01-01    44
2010-01-01    45
2011-01-01    46
2012-01-01    47
2013-01-01    48
2014-01-01    49
2015-01-01    50
2016-01-01    51
2017-01-01    52
2018-01-01    53
2019-01-01    54
2020-01-01    55
2021-01-01    56
2022-01-01    57
2023-01-01    58
Name: 2, dtype: int32

column:
3

cal[c]:
accident_period
1967-01-01     0
1968-01-01     1
1969-01-01     2
1970-01-01     3
1971-01-01     4
1972-01-01     5
1973-01-01     6
1974-01-01     7
1975-01-01     8
1976-01-01     9
1977-01-01    10
1978-01-01    11
1979-01-01    12
1980-01-01    13
1981-01-01    14
1982-01-01    15
1983-01-01    16
1984-01-01    17
1985-01-01    18
1986-01-01    19
1987-01-01    20
1988-01-01    21
1989-01-01    22
1990-01-01    23
1991-01-01    24
1992-01-01    25
1993-01-01    26
1994-01-01    27
1995-01-01    28
1996-01-01    29
1997-01-01    30
1998-01-01    31
1999-01-01    32
2000-01-01    33
2001-01-01    34
2002-01-01    35
2003-01-01    36
2004-01-01    37
2005-01-01    38
2006-01-01    39
2007-01-01    40
2008-01-01    41
2009-01-01    42
2010-01-01    43
2011-01-01    44
2012-01-01    45
2013-01-01    46
2014-01-01    47
2015-01-01    48
2016-01-01    49
2017-01-01    50
2018-01-01    51
2019-01-01    52
2020-01-01    53
2021-01-01    54
2022-01-01    55
2023-01-01    56
Name: 3, dtype: int32

int(c):
3
cal.columns.to_series().astype(int).min():
0

new cal[c]:
accident_period
1967-01-01     3
1968-01-01     4
1969-01-01     5
1970-01-01     6
1971-01-01     7
1972-01-01     8
1973-01-01     9
1974-01-01    10
1975-01-01    11
1976-01-01    12
1977-01-01    13
1978-01-01    14
1979-01-01    15
1980-01-01    16
1981-01-01    17
1982-01-01    18
1983-01-01    19
1984-01-01    20
1985-01-01    21
1986-01-01    22
1987-01-01    23
1988-01-01    24
1989-01-01    25
1990-01-01    26
1991-01-01    27
1992-01-01    28
1993-01-01    29
1994-01-01    30
1995-01-01    31
1996-01-01    32
1997-01-01    33
1998-01-01    34
1999-01-01    35
2000-01-01    36
2001-01-01    37
2002-01-01    38
2003-01-01    39
2004-01-01    40
2005-01-01    41
2006-01-01    42
2007-01-01    43
2008-01-01    44
2009-01-01    45
2010-01-01    46
2011-01-01    47
2012-01-01    48
2013-01-01    49
2014-01-01    50
2015-01-01    51
2016-01-01    52
2017-01-01    53
2018-01-01    54
2019-01-01    55
2020-01-01    56
2021-01-01    57
2022-01-01    58
2023-01-01    59
Name: 3, dtype: int32

column:
4

cal[c]:
accident_period
1967-01-01     0
1968-01-01     1
1969-01-01     2
1970-01-01     3
1971-01-01     4
1972-01-01     5
1973-01-01     6
1974-01-01     7
1975-01-01     8
1976-01-01     9
1977-01-01    10
1978-01-01    11
1979-01-01    12
1980-01-01    13
1981-01-01    14
1982-01-01    15
1983-01-01    16
1984-01-01    17
1985-01-01    18
1986-01-01    19
1987-01-01    20
1988-01-01    21
1989-01-01    22
1990-01-01    23
1991-01-01    24
1992-01-01    25
1993-01-01    26
1994-01-01    27
1995-01-01    28
1996-01-01    29
1997-01-01    30
1998-01-01    31
1999-01-01    32
2000-01-01    33
2001-01-01    34
2002-01-01    35
2003-01-01    36
2004-01-01    37
2005-01-01    38
2006-01-01    39
2007-01-01    40
2008-01-01    41
2009-01-01    42
2010-01-01    43
2011-01-01    44
2012-01-01    45
2013-01-01    46
2014-01-01    47
2015-01-01    48
2016-01-01    49
2017-01-01    50
2018-01-01    51
2019-01-01    52
2020-01-01    53
2021-01-01    54
2022-01-01    55
2023-01-01    56
Name: 4, dtype: int32

int(c):
4
cal.columns.to_series().astype(int).min():
0

new cal[c]:
accident_period
1967-01-01     4
1968-01-01     5
1969-01-01     6
1970-01-01     7
1971-01-01     8
1972-01-01     9
1973-01-01    10
1974-01-01    11
1975-01-01    12
1976-01-01    13
1977-01-01    14
1978-01-01    15
1979-01-01    16
1980-01-01    17
1981-01-01    18
1982-01-01    19
1983-01-01    20
1984-01-01    21
1985-01-01    22
1986-01-01    23
1987-01-01    24
1988-01-01    25
1989-01-01    26
1990-01-01    27
1991-01-01    28
1992-01-01    29
1993-01-01    30
1994-01-01    31
1995-01-01    32
1996-01-01    33
1997-01-01    34
1998-01-01    35
1999-01-01    36
2000-01-01    37
2001-01-01    38
2002-01-01    39
2003-01-01    40
2004-01-01    41
2005-01-01    42
2006-01-01    43
2007-01-01    44
2008-01-01    45
2009-01-01    46
2010-01-01    47
2011-01-01    48
2012-01-01    49
2013-01-01    50
2014-01-01    51
2015-01-01    52
2016-01-01    53
2017-01-01    54
2018-01-01    55
2019-01-01    56
2020-01-01    57
2021-01-01    58
2022-01-01    59
2023-01-01    60
Name: 4, dtype: int32

column:
5

cal[c]:
accident_period
1967-01-01     0
1968-01-01     1
1969-01-01     2
1970-01-01     3
1971-01-01     4
1972-01-01     5
1973-01-01     6
1974-01-01     7
1975-01-01     8
1976-01-01     9
1977-01-01    10
1978-01-01    11
1979-01-01    12
1980-01-01    13
1981-01-01    14
1982-01-01    15
1983-01-01    16
1984-01-01    17
1985-01-01    18
1986-01-01    19
1987-01-01    20
1988-01-01    21
1989-01-01    22
1990-01-01    23
1991-01-01    24
1992-01-01    25
1993-01-01    26
1994-01-01    27
1995-01-01    28
1996-01-01    29
1997-01-01    30
1998-01-01    31
1999-01-01    32
2000-01-01    33
2001-01-01    34
2002-01-01    35
2003-01-01    36
2004-01-01    37
2005-01-01    38
2006-01-01    39
2007-01-01    40
2008-01-01    41
2009-01-01    42
2010-01-01    43
2011-01-01    44
2012-01-01    45
2013-01-01    46
2014-01-01    47
2015-01-01    48
2016-01-01    49
2017-01-01    50
2018-01-01    51
2019-01-01    52
2020-01-01    53
2021-01-01    54
2022-01-01    55
2023-01-01    56
Name: 5, dtype: int32

int(c):
5
cal.columns.to_series().astype(int).min():
0

new cal[c]:
accident_period
1967-01-01     5
1968-01-01     6
1969-01-01     7
1970-01-01     8
1971-01-01     9
1972-01-01    10
1973-01-01    11
1974-01-01    12
1975-01-01    13
1976-01-01    14
1977-01-01    15
1978-01-01    16
1979-01-01    17
1980-01-01    18
1981-01-01    19
1982-01-01    20
1983-01-01    21
1984-01-01    22
1985-01-01    23
1986-01-01    24
1987-01-01    25
1988-01-01    26
1989-01-01    27
1990-01-01    28
1991-01-01    29
1992-01-01    30
1993-01-01    31
1994-01-01    32
1995-01-01    33
1996-01-01    34
1997-01-01    35
1998-01-01    36
1999-01-01    37
2000-01-01    38
2001-01-01    39
2002-01-01    40
2003-01-01    41
2004-01-01    42
2005-01-01    43
2006-01-01    44
2007-01-01    45
2008-01-01    46
2009-01-01    47
2010-01-01    48
2011-01-01    49
2012-01-01    50
2013-01-01    51
2014-01-01    52
2015-01-01    53
2016-01-01    54
2017-01-01    55
2018-01-01    56
2019-01-01    57
2020-01-01    58
2021-01-01    59
2022-01-01    60
2023-01-01    61
Name: 5, dtype: int32

column:
6

cal[c]:
accident_period
1967-01-01     0
1968-01-01     1
1969-01-01     2
1970-01-01     3
1971-01-01     4
1972-01-01     5
1973-01-01     6
1974-01-01     7
1975-01-01     8
1976-01-01     9
1977-01-01    10
1978-01-01    11
1979-01-01    12
1980-01-01    13
1981-01-01    14
1982-01-01    15
1983-01-01    16
1984-01-01    17
1985-01-01    18
1986-01-01    19
1987-01-01    20
1988-01-01    21
1989-01-01    22
1990-01-01    23
1991-01-01    24
1992-01-01    25
1993-01-01    26
1994-01-01    27
1995-01-01    28
1996-01-01    29
1997-01-01    30
1998-01-01    31
1999-01-01    32
2000-01-01    33
2001-01-01    34
2002-01-01    35
2003-01-01    36
2004-01-01    37
2005-01-01    38
2006-01-01    39
2007-01-01    40
2008-01-01    41
2009-01-01    42
2010-01-01    43
2011-01-01    44
2012-01-01    45
2013-01-01    46
2014-01-01    47
2015-01-01    48
2016-01-01    49
2017-01-01    50
2018-01-01    51
2019-01-01    52
2020-01-01    53
2021-01-01    54
2022-01-01    55
2023-01-01    56
Name: 6, dtype: int32

int(c):
6
cal.columns.to_series().astype(int).min():
0

new cal[c]:
accident_period
1967-01-01     6
1968-01-01     7
1969-01-01     8
1970-01-01     9
1971-01-01    10
1972-01-01    11
1973-01-01    12
1974-01-01    13
1975-01-01    14
1976-01-01    15
1977-01-01    16
1978-01-01    17
1979-01-01    18
1980-01-01    19
1981-01-01    20
1982-01-01    21
1983-01-01    22
1984-01-01    23
1985-01-01    24
1986-01-01    25
1987-01-01    26
1988-01-01    27
1989-01-01    28
1990-01-01    29
1991-01-01    30
1992-01-01    31
1993-01-01    32
1994-01-01    33
1995-01-01    34
1996-01-01    35
1997-01-01    36
1998-01-01    37
1999-01-01    38
2000-01-01    39
2001-01-01    40
2002-01-01    41
2003-01-01    42
2004-01-01    43
2005-01-01    44
2006-01-01    45
2007-01-01    46
2008-01-01    47
2009-01-01    48
2010-01-01    49
2011-01-01    50
2012-01-01    51
2013-01-01    52
2014-01-01    53
2015-01-01    54
2016-01-01    55
2017-01-01    56
2018-01-01    57
2019-01-01    58
2020-01-01    59
2021-01-01    60
2022-01-01    61
2023-01-01    62
Name: 6, dtype: int32

column:
7

cal[c]:
accident_period
1967-01-01     0
1968-01-01     1
1969-01-01     2
1970-01-01     3
1971-01-01     4
1972-01-01     5
1973-01-01     6
1974-01-01     7
1975-01-01     8
1976-01-01     9
1977-01-01    10
1978-01-01    11
1979-01-01    12
1980-01-01    13
1981-01-01    14
1982-01-01    15
1983-01-01    16
1984-01-01    17
1985-01-01    18
1986-01-01    19
1987-01-01    20
1988-01-01    21
1989-01-01    22
1990-01-01    23
1991-01-01    24
1992-01-01    25
1993-01-01    26
1994-01-01    27
1995-01-01    28
1996-01-01    29
1997-01-01    30
1998-01-01    31
1999-01-01    32
2000-01-01    33
2001-01-01    34
2002-01-01    35
2003-01-01    36
2004-01-01    37
2005-01-01    38
2006-01-01    39
2007-01-01    40
2008-01-01    41
2009-01-01    42
2010-01-01    43
2011-01-01    44
2012-01-01    45
2013-01-01    46
2014-01-01    47
2015-01-01    48
2016-01-01    49
2017-01-01    50
2018-01-01    51
2019-01-01    52
2020-01-01    53
2021-01-01    54
2022-01-01    55
2023-01-01    56
Name: 7, dtype: int32

int(c):
7
cal.columns.to_series().astype(int).min():
0

new cal[c]:
accident_period
1967-01-01     7
1968-01-01     8
1969-01-01     9
1970-01-01    10
1971-01-01    11
1972-01-01    12
1973-01-01    13
1974-01-01    14
1975-01-01    15
1976-01-01    16
1977-01-01    17
1978-01-01    18
1979-01-01    19
1980-01-01    20
1981-01-01    21
1982-01-01    22
1983-01-01    23
1984-01-01    24
1985-01-01    25
1986-01-01    26
1987-01-01    27
1988-01-01    28
1989-01-01    29
1990-01-01    30
1991-01-01    31
1992-01-01    32
1993-01-01    33
1994-01-01    34
1995-01-01    35
1996-01-01    36
1997-01-01    37
1998-01-01    38
1999-01-01    39
2000-01-01    40
2001-01-01    41
2002-01-01    42
2003-01-01    43
2004-01-01    44
2005-01-01    45
2006-01-01    46
2007-01-01    47
2008-01-01    48
2009-01-01    49
2010-01-01    50
2011-01-01    51
2012-01-01    52
2013-01-01    53
2014-01-01    54
2015-01-01    55
2016-01-01    56
2017-01-01    57
2018-01-01    58
2019-01-01    59
2020-01-01    60
2021-01-01    61
2022-01-01    62
2023-01-01    63
Name: 7, dtype: int32

column:
8

cal[c]:
accident_period
1967-01-01     0
1968-01-01     1
1969-01-01     2
1970-01-01     3
1971-01-01     4
1972-01-01     5
1973-01-01     6
1974-01-01     7
1975-01-01     8
1976-01-01     9
1977-01-01    10
1978-01-01    11
1979-01-01    12
1980-01-01    13
1981-01-01    14
1982-01-01    15
1983-01-01    16
1984-01-01    17
1985-01-01    18
1986-01-01    19
1987-01-01    20
1988-01-01    21
1989-01-01    22
1990-01-01    23
1991-01-01    24
1992-01-01    25
1993-01-01    26
1994-01-01    27
1995-01-01    28
1996-01-01    29
1997-01-01    30
1998-01-01    31
1999-01-01    32
2000-01-01    33
2001-01-01    34
2002-01-01    35
2003-01-01    36
2004-01-01    37
2005-01-01    38
2006-01-01    39
2007-01-01    40
2008-01-01    41
2009-01-01    42
2010-01-01    43
2011-01-01    44
2012-01-01    45
2013-01-01    46
2014-01-01    47
2015-01-01    48
2016-01-01    49
2017-01-01    50
2018-01-01    51
2019-01-01    52
2020-01-01    53
2021-01-01    54
2022-01-01    55
2023-01-01    56
Name: 8, dtype: int32

int(c):
8
cal.columns.to_series().astype(int).min():
0

new cal[c]:
accident_period
1967-01-01     8
1968-01-01     9
1969-01-01    10
1970-01-01    11
1971-01-01    12
1972-01-01    13
1973-01-01    14
1974-01-01    15
1975-01-01    16
1976-01-01    17
1977-01-01    18
1978-01-01    19
1979-01-01    20
1980-01-01    21
1981-01-01    22
1982-01-01    23
1983-01-01    24
1984-01-01    25
1985-01-01    26
1986-01-01    27
1987-01-01    28
1988-01-01    29
1989-01-01    30
1990-01-01    31
1991-01-01    32
1992-01-01    33
1993-01-01    34
1994-01-01    35
1995-01-01    36
1996-01-01    37
1997-01-01    38
1998-01-01    39
1999-01-01    40
2000-01-01    41
2001-01-01    42
2002-01-01    43
2003-01-01    44
2004-01-01    45
2005-01-01    46
2006-01-01    47
2007-01-01    48
2008-01-01    49
2009-01-01    50
2010-01-01    51
2011-01-01    52
2012-01-01    53
2013-01-01    54
2014-01-01    55
2015-01-01    56
2016-01-01    57
2017-01-01    58
2018-01-01    59
2019-01-01    60
2020-01-01    61
2021-01-01    62
2022-01-01    63
2023-01-01    64
Name: 8, dtype: int32

column:
9

cal[c]:
accident_period
1967-01-01     0
1968-01-01     1
1969-01-01     2
1970-01-01     3
1971-01-01     4
1972-01-01     5
1973-01-01     6
1974-01-01     7
1975-01-01     8
1976-01-01     9
1977-01-01    10
1978-01-01    11
1979-01-01    12
1980-01-01    13
1981-01-01    14
1982-01-01    15
1983-01-01    16
1984-01-01    17
1985-01-01    18
1986-01-01    19
1987-01-01    20
1988-01-01    21
1989-01-01    22
1990-01-01    23
1991-01-01    24
1992-01-01    25
1993-01-01    26
1994-01-01    27
1995-01-01    28
1996-01-01    29
1997-01-01    30
1998-01-01    31
1999-01-01    32
2000-01-01    33
2001-01-01    34
2002-01-01    35
2003-01-01    36
2004-01-01    37
2005-01-01    38
2006-01-01    39
2007-01-01    40
2008-01-01    41
2009-01-01    42
2010-01-01    43
2011-01-01    44
2012-01-01    45
2013-01-01    46
2014-01-01    47
2015-01-01    48
2016-01-01    49
2017-01-01    50
2018-01-01    51
2019-01-01    52
2020-01-01    53
2021-01-01    54
2022-01-01    55
2023-01-01    56
Name: 9, dtype: int32

int(c):
9

ValueError: cannot convert float NaN to integer

In [4]:
# set hyperparameters
rky.icrfs.SetHyperparameters(alpha=0.05, l1_ratio=0.01)
# rky.icrfs.TuneFitHyperparameters(l1_ratio=[0, 0.025, 0.05])

# fit model
rky.icrfs.Fit()

# basic hetero adjustment (one-step, no cross-validation,
# just one parameter per development period)
rky.icrfs.FitHetero()

Fitting hetero adjustment: (Step/RMSE/L2-Norm)
1/0.0000

In [5]:
rky.icrfs.GetIdx()

0         0
1         1
2         2
3         3
4         4
       ...
734    1331
735    1332
736    1368
737    1369
738    1406
Length: 739, dtype: int64

In [6]:
rky.icrfs.GetCVStatistics()

KeyError: '[924, 925] not in index'

^^ this doesn't work when using a real triangle?

In [ ]:
rky.icrfs.LassoFeatureImportance()

,0.0000,0.0025,0.0050,0.0075,0.0100,0.0125,0.0150,0.0175,0.0200,0.0225,...,0.2600,0.2625,0.2650,0.2675,0.2700,0.2725,0.2750,0.2775,0.2800,0.2825
0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
1,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
2,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
3,114.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,104.0,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0
4,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
5,2.0,1.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
6,2.0,1.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
7,2.0,1.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
8,114.0,113.0,112.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,...,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,111.0
9,114.0,113.0,112.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,...,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,111.0
10,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
11,114.0,113.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0
12,114.0,113.0,112.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,...,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,111.0
13,114.0,113.0,112.0,111.0,110.0,109.0,108.0,107.0,106.0,105.0,...,10.0,9.0,8.0,7.0,6.0,5.0,4.0,3.0,2.0,1.0
14,107.0,105.0,114.0,113.0,112.0,111.0,110.0,108.0,109.0,106.0,...,10.0,9.0,8.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0
15,114.0,113.0,112.0,110.0,111.0,109.0,108.0,106.0,107.0,105.0,...,65.0,66.0,67.0,68.0,69.0,70.0,71.0,72.0,73.0,74.0
16,114.0,113.0,112.0,111.0,110.0,109.0,108.0,107.0,106.0,105.0,...,79.0,80.0,81.0,82.0,83.0,84.0,85.0,86.0,87.0,88.0
17,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
18,114.0,113.0,112.0,111.0,110.0,109.0,108.0,107.0,106.0,105.0,...,90.0,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0
19,114.0,113.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0
20,114.0,113.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0
21,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
22,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
23,114.0,113.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0
24,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
25,114.0,113.0,112.0,111.0,110.0,109.0,108.0,107.0,106.0,1.0,...,96.0,97.0,98.0,99.0,100.0,101.0,102.0,103.0,104.0,105.0
26,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
27,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
28,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
29,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
30,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
31,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
32,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
33,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
34,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
35,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0
36,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,105.0,106.0,107.0,108.0,109.0,110.0,111.0,112.0,113.0,114.0

In [ ]:
rky.icrfs.tri.ult()

Accident Period
2001-01-01    3901463.0
2002-01-01    5433719.0
2003-01-01    5378826.0
2004-01-01    5297906.0
2005-01-01    4858200.0
2006-01-01    5111171.0
2007-01-01    5660771.0
2008-01-01    6784799.0
2009-01-01    5642266.0
2010-01-01    4969825.0
Name: Chain Ladder Ultimate Loss, dtype: float64

In [ ]:
rky.icrfs.Ultimate()

accident_period
2001-01-01    2567142.0
2002-01-01    3706315.0
2003-01-01    3638545.0
2004-01-01    3629865.0
2005-01-01    3506981.0
2006-01-01    3807868.0
2007-01-01    4326249.0
2008-01-01    4866519.0
2009-01-01    4457979.0
2010-01-01    4296988.0
Name: Log-linear Ultimate, dtype: float64

In [ ]:
rky.icrfs.TrendPlot()

In [ ]:
#test 
rky.icrfs.FitPlot('acc')

In [ ]:
rky.icrfs.ResidualPlot(color_col='acc')

$\text{AIC} = 2k - 2l$

In [ ]:
# k - number of parameters:
rky.icrfs.GetP()

37

In [ ]:
# l - loglikelihood:
# log(likelihood)

In general

Objective function of elastic net regularization:

$$
\min_{\beta} \frac{1}{2n} \sum_{i=1}^n \left( y_i - \beta_0 - \mathbf{x}_i^T\beta \right)^2 + \alpha \lambda \|{\beta}\|^1 + \frac{\alpha(1-\lambda)}{2} \|\beta\|_2^2
$$

Here $\alpha$ is the strength of the regularization, $\lambda$ is the portion of the regularization that is $\ell_1$-norm, and $k$ is the number of parameters in the model.